body{
    background-color: antiquewhite;
}
h1{
    color:gold;
    text-align: center;
    margin-top: 50px;
    border: 1px solid black;
    padding: 30px;
    
}

img{
    display: block;

    margin-left: auto;
  margin-right:auto;
  width: 400px;
   height: 300px;
   margin-top: 20px;
   margin-bottom: 20px;
   border: solid purple  7px;
}

.info{
        display: grid;
         grid-template: repeat(2, 50px) / repeat(3, 1fr);
         grid-gap: 6px;
    border: 10px lightblue solid;

}

